.body{
    width:100%;
    height: fit-content;
    /* background-color: red; */
    padding-top: 7vw;
    display: flex;
    flex-direction: row;
}

.leftbody{
    width: 20%;
    height: 100%;
    /* background-color: crimson; */
    position: fixed;
    overflow: auto;
}

.leftbody p{
    font-size: 1vw;
}

.leftbody  h5{
    font-size: 1.5vw;
}
.rightbody{
    width: 80%;
    height: 100%;
    /* background-color: yellow; */
    margin-left: 20%;
    padding-top: 1.5vw;
}


@media (min-width:1px) and (max-width:425px) {
    .body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* background-color: red; */
    }

    .leftbody{
        height: 100%;
        /* background-color: aqua; */
        display: none;
    }

    .rightbody{
        margin-left: 0;
        width: 100%;
        /* background-color: cadetblue; */
        height: 100%;
    }
}